.winBanner {

    background-color: rgb(20, 137, 226);
}

.loseBanner {
    background-color: rgb(134, 18, 18);
}


.banner {
    padding: 0.2rem;
    /* padding-left: 1rem;
    padding-right: 1rem; */
    border-radius: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;
    z-index: 1;
}