.PopUp {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    border: 1px solid #011627;
    border-radius: 0.6rem;
    box-shadow: -2px 3px 3px rgb(30, 21, 21);
    background-color: #FDFFFC;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #011627;
    z-index: 5;
}

.popup-x {
    width: 3em;
    height: 2em;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    border-top-right-radius: 0.6rem;
    border-bottom-left-radius: 0.2rem;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    align-self: flex-end;
    justify-self: flex-start;
}

.pu-button-container {
    margin-bottom: 0.5em;
}


.PopUp h2 {
    margin: 0;
}

ul {
    list-style-type: lower-roman
}

.pu-content-container {
    width: 80%;
    display: flex;
    gap: 5px;
}

#settings-list {
    width: 100%;
    padding-left: 0px;
}

#settings-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* .switch {
    position: relative;
    display: inline-block;
    width: 3em;
    height: 1.5em;
} */


/* .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    background-color: rgb(136, 18, 18);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 1em;
    /* content: "s"; */

/* } */


/* .slider:before {
    position: absolute;
    content: "";
    /* padding-top: -3px; */
/* font-size: 0.5em;
    text-align: center;
    height: 2em;
    width: 2em;
    left: 4px;
    bottom: 4px;

    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;

}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(150%);
    -ms-transform: translateX(150%);
    transform: translateX(150%);
} */