.App {
  color: white;
  background: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 300px;
  width: 100vw;
}

.hand {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 22vh;
}

#playerHand {
  margin-top: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

header>button {
  height: 70%;

}


/* .win {
  background-color: green;
} */

.dealer {
  /* loss */
  background-color: red;
  padding: 0.5rem;
  border-radius: 8px;
}

.card {
  margin: 10px;
  /* margin-left: 0;
  margin-right: 0; */
  max-width: 30%;
  min-width: 5%;
  /* height: 10%; */
}

.flex {
  display: flex;
  align-items: center;
  gap: 2rem;
}