.App {
  color: white;
  background: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  /* min-width: 300px; */
  width: 100%;
}

.hand {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 22vh;
}

#playerHand {
  margin-top: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

header>button {
  height: 70%;
}

.player-actions {
  display: flex;
  gap: 1rem;
}


.dealer {
  /* loss */
  background-color: red;
  padding: 0.5rem;
  border-radius: 8px;
}

.card {
  margin: 10px;
  max-width: 30%;
  min-width: 5%;
}

/* .flex {
  display: flex;
  align-items: center;
  gap: 2rem;
} */